{% extends "base.html" %} 

{% load static %} 

{% block page_header %}
<div class="header-container">
	<div class="row bg-transparent">
		<div class="col"></div>
	</div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <hr />
      <h2 class="logo-font mb-4 text-off-white">Get in Touch</h2>
      <hr />
    </div>
  </div>
  <div class="row">
    <!--Contact Section-->
    <div class="col-12 col-md-4 mb-3">
      <div class="card border-1">
        <img
          class="card-img-top img-size-handle img-fluid"
          src="{{ MEDIA_URL }}product_photography_olympus_trip_35.jpg"
          onerror="this.onerror=null; this.src='{{ MEDIA_URL }}noimage.png'"
          alt="Lanthus Clark"
        />
      </div>
    </div>
    <div class="col-12 col-md-8 mb-3 text-off-white">
        <form class="rounded-border" action="{% url 'emailsend' %}" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-actions">
            <button class="btn btn-outline-black rounded-border" type="submit">Send</button>
        </div>
        </form>
    </div>
  </div>
</div>
{% endblock %} {% block postloadjs %} {% endblock %}
