html {
    height: 100%;
}

body {
    background: url('/media/portrait_lanthus_clark_1600x1087.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 184px);
    color: #555;
    font-family: 'Lato';
    letter-spacing: 0.08em;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content {
    min-height: 70vh;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10vh;
    right: 36px;
    bottom: -5vh;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: antiquewhite;
}

.btn-outline-black {
    background: antiquewhite;
    color: black;
    border: 1px solid black;
}

li .dropdown-item:hover,
.list-inline-item:hover,
.category-badge > .badge:hover,
.nav-item a:hover,
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    border-radius: 5px;
    animation-name: fadeInBgColor;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fadeInBgColor {
    0% {
        background: rgba(10, 32, 39, 0);
        -webkit-box-shadow: 0px 0px 1px 0px rgba(215, 233, 250, 0);
        -moz-box-shadow: 0px 0px 1px 0px rgba(250, 215, 235, 0);
        box-shadow: 0px 0px 1px 0px rgba(250, 215, 235, 0);
    }
    100% {
        background: rgba(10, 32, 39, 0.6);
        color: antiquewhite ;
        -webkit-box-shadow: 0px 0px 6px 0.3px rgba(250, 215, 235, 0.8);
        -moz-box-shadow: 0px 0px 6px 0.3px rgba(250, 215, 235, 0.8);
        box-shadow: 0px 0px 6px 0.3px rgba(250, 215, 235, 0.8);
    }
}


input:hover,
input:active,
input:focus {
    background: rgba(22, 31, 31, 0.2)!important;
    color: antiquewhite !important;
}

    
.nav-item .active {
    text-decoration: underline;
}

.text-black {
    color: #000 !important;
}

.text-off-white {
    color: antiquewhite !important;
}

.border-black {
    border: 1px solid black !important;
}

.rounded-border {
    border-radius: 5px !important;
}

.bg-black {
    background: #000 !important;
}

.bg-transparent {
    background: rgba(15, 40, 48, 0.6) !important;
}

.bg-none {
    background: none;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(22, 31, 31, 0.5);
    z-index: -1;
}

.top-margin {
    margin-top: 15vh;
}

.top-padding-index-navbar {
    padding-top: 54vh;
}

.scroll-up-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.scroll-up-link,
.update-link,
.remove-item {
    cursor: pointer;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 122px;
    right: 22px;
    z-index: 99999999999;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.custom-toast {
    overflow: visible;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 72px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 0px;
    }

    body {
        height: calc(100vh - 116px);
        font-size: 0.6em;
    }

    #mobile-portfolio-nav-link {
    display: inline-block;
    }

    .navbar-toggler {
        border: none !important;
    }

    .overlay {
    background: rgba(22, 31, 31, 0.8);
}
}