{% extends "base.html" %} 

{% load static %} 

{% block extra_css %}
<!-- using styles from checkout to ensure uniformity on forms accross site-->
<!-- class 'stripe-style-input' used for form inputs -->
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
<link rel="stylesheet" href="{% static 'user_profiles/css/profiles.css' %}" />
{% endblock %} 

{% block page_header %}
<div class="header-container">
  <div class="row bg-transparent">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <hr />
      <h2 class="logo-font mb-4 text-off-white">My Profile</h2>
      <hr />
    </div>
  </div>
</div>
<!-- Profile Info Rendered Here -->
<section name="user-profile-info" class="container">
  <div class="row">
    <div class="col-12 col-lg-6 text-center">
      <p class="text-off-white text-uppercase">Default Shipping Information</p>
      <form action="{% url 'profile' %}" method="POST" id="update-profile-form">
        {% csrf_token %} {{ form|crispy }}
        <button
          id="update-user-shipping-info-button"
          class="btn btn-outline-black rounded-1"
        >
          <span class="text-uppercase">Update Information </span>
        </button>
      </form>
    </div>

    <div class="col-12 col-lg-6 text-center">
      <p class="text-off-white text-uppercase">Order History</p>
      <div class="hide-on-mobile">
        <div class="row">
          <div class="col-12 col-lg-2 text-off-white">
            <h6>Order Number</h6>
          </div>
          <div class="col-12 col-lg-5 text-off-white">
            <h6>Date</h6>
          </div>
          <div class="col-12 col-lg-3 text-off-white">
            <h6>Items</h6>
          </div>
          <div class="col-12 col-lg-2 text-off-white">
            <h6>Total</h6>
          </div>
        </div>
      </div>
      {% if orders %}
      {% for order in orders %}
      <div class="mt-2">
        <div class="row">
          <div class="col-12 col-lg-2 order-hist-col">
            <h6 class="show-on-mobile pt-3 text-off-white">Order Number</h6>

            <a
              class="category-badge text-decoration-none"
              href="{% url 'order_history' order.order_number %}"
              title="{{ order.order_number }}"
            >
              <span class="p-2 mt-2 badge text-off-white rounded-1"
                >{{ order.order_number|truncatechars:6 }}
                </span>
            </a>
          </div>
          <div class="col-12 col-lg-5 order-hist-col">
            <h6 class="show-on-mobile pt-3 text-off-white">Date</h6>
            <span class="p-2 mt-2 badge text-off-white rounded-1">
              {{ order.date }}
            </span>
          </div>
          <div class="col-12 col-lg-3 order-hist-col">
            <h6 class="show-on-mobile pt-3 text-off-white">Items</h6>
            <ul class="list-unstyled">
              {% for item in order.lineitems.all %}
              <li
                title="{{ item.product.name }}"
                class="small p-2 mt-2 badge text-off-white rounded-1"
              >
                {% if item.product.has_sizes %} Size {{ item.product.size|upper}} {% endif %} 
                {{ item.product.name|truncatechars:8 }} x{{ item.quantity }}
              </li>

              {% endfor %}
            </ul>
          </div>
          <div class="col-12 col-lg-2 order-hist-col">
            <h6 class="show-on-mobile text-off-white">Order Total</h6>
            <span class="p-2 mt-2 mb-3 badge text-off-white rounded-1">
            ${{ order.grand_total }}
            </span>
          </div>
        </div>
      </div>
      <hr class="border-cart-items" />
      {% endfor %} {% endif %}
    </div>
  </div>
</section>

{% endblock %} 

{% block postload.js %}
{% endblock %}
