<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-photos-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop Now
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-photos-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Photos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Portraits</a>
                <a href="" class="dropdown-item">Product Photography</a>
                <a href="" class="dropdown-item">Weddings</a>
                <a href="" class="dropdown-item">Events</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" aria-haspopup="false" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-link" aria-haspopup="false" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>