.order-history {
    max-height: 416px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-control {
    color: #000;
    border: 1px solid #000;
}