<form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ form | crispy }}
                              <div class="text-right">
                                 <a class="btn btn-outline-black rounded-1" href="{% url 'products' %}">Cancel</a>
                                 <button class="btn btn-black rounded-1" type="submit">Update Product</button>
                              </div>
                           </form>