{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
   <div class="row bg-transparent">
      <div class="col"></div>
   </div>
</div>
{% endblock %} 

{% block content %}
<div class="overlay"></div>
<div class="container">
   <div class="row">
      <div class="col">
         <hr />
         <h2 class="logo-font mb-4 text-off-white">Admin Product Hub</h2>
         <hr />
      </div>
   </div>
   <div class="row">

<!--Admin Hub-->
      <div class="col-12 col-lg-6 mb-5">
         <h5 class="text-off-white logo-font">Manage Products</h5>
         {% if '/edit/' in request.path %}
         <h5 class="text-off-white mt-0 mb-1"><i class="fas fa-long-arrow-alt-right"></i> Editing 
            <span class="p-2 mt-2 badge text-off-white rounded-1 bg-transparent">{{ product.name }}
            </span>
         </h5>
         {% endif %}
         <div class="row">
            <div class="col-12 text-off-white">
               <p class="text-off-white small mt-0 mb-1">Options</p>
               <div id="accordion">
               {% if '/edit/' in request.path %}
               {% else %}
                  <div class="card nav-edge-glow mb-2">
                     <div class="card-header" id="addNew">
                        <h5 class="mb-0">
                           <button class="btn btn-outline-black rounded-1 collapsed" 
                              data-toggle="collapse" 
                              data-target="#collapseOne" 
                              aria-expanded="true" 
                              aria-controls="collapseOne">
                           Add New
                           </button>
                        </h5>
                     </div>
<!--Add Product Form-->
                     <div id="collapseOne" class="collapse" aria-labelledby="addNew" data-parent="#accordion">
                        <div class="card-body">
                           <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                              {% csrf_token %}
                              {% for field in form %}
                                {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                                {% else %}
                                {{ field }}
                                {% endif %}
                              {% endfor %}
                              <div class="text-right">
                                 <a class="btn btn-outline-black rounded-1" href="{% url 'products_admin_hub' %}">Cancel</a>
                                 <button class="btn btn-black rounded-1" type="submit">Add Product</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                {% endif %}
                  {% if '/edit/' in request.path %}
                  <div class="card nav-edge-glow mb-2">
                     <div class="card-header" id="editProduct">
                        <h5 class="mb-0">
                           <button class="btn btn-outline-black rounded-1 collapsed" 
                              data-toggle="collapse" 
                              data-target="#collapseTwo"
                              aria-expanded="{% if '/edit/' in request.path %}true{% else %}false{% endif %}" 
                              aria-controls="collapseTwo">
                           Edit/Update
                           </button>
                        </h5>
                     </div>
                     <div id="collapseTwo" class="{% if '/edit/' in request.path %}collapse-show{% else %}collapse{% endif %}" 
                        aria-labelledby="editProduct" data-parent="#accordion">
                        <div class="card-body">
<!--Edit/Update Products form-->
                           <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                              {% csrf_token %}
                              {% for field in form %}
                                {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                                {% else %}
                                {{ field }}
                                {% endif %}
                              {% endfor %}
                              <small id="upload-text"></small>
                              <div class="text-right">
                                 <a class="btn btn-outline-black rounded-1" href="{% url 'products_admin_hub' %}">Cancel</a>
                                 <button class="btn btn-black rounded-1" type="submit">Update Product</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  {% else %}
                  <div class="card nav-edge-glow mb-2">
                     <div class="card-header" id="editInstruct">
                        <h5 class="mb-0">
                           <button class="btn btn-outline-black rounded-1 collapsed" 
                              data-toggle="collapse" 
                              data-target="#instruct"
                              aria-expanded="{% if '/edit/' in request.path %}true{% else %}false{% endif %}" 
                              aria-controls="instruct">
                           Edit/Update
                           </button>
                        </h5>
                     </div>
                     <div id="instruct" class="{% if '/edit/' in request.path %}collapse-show{% else %}collapse{% endif %}" 
                        aria-labelledby="editInstruct" data-parent="#accordion">
                        <div class="card-body">
                        <p>Select a Category from the Categories column<span><i class="fas fa-long-arrow-alt-right float-right"></i></span></p>
                        <p>And then in the Products column click the 'edit' button beneath the product you want to edit.</p>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                  <div class="card nav-edge-glow mb-2">
                     <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                           <button class="btn btn-outline-black rounded-1 collapsed" 
                              data-toggle="collapse" 
                              data-target="#collapseThree" 
                              aria-expanded="false" 
                              aria-controls="collapseThree">
                           Remove
                           </button>
                        </h5>
                     </div>
                     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           third
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<!--Admin Product / Category info-->
      <div class="col-12 col-lg-6 mb-5">
       {% if '/edit/' in request.path %}
         {% else %}
         <h5 class="text-off-white logo-font">Shopwide Summary</h5>
         <div class="row">
            <div class="col-12 col-lg-6">
               <p class="text-off-white small mt-0 mb-1">Categories</p>
               {% if all_categories %}
               <p class="d-block badge bg-transparent rounded-border text-off-white p-2">
                  Total &nbsp;| &nbsp;{{ all_categories|length }}&nbsp; | &nbsp;categories
               </p>
               {% for c in all_categories %}
               <a class="d-block category-badge text-decoration-none" href="{% url 'products_admin_hub' %}?category={{ c.name }}">
               <span class="p-2 mt-2 badge w-100 text-off-white rounded-1">{{ c.friendly_name }}</span>
               </a>
               {% endfor %}
               {% endif %}
            </div>         
            <div class="col-12 col-lg-6">
               <p class="text-off-white small mt-0 mb-1">Products</p>
               {% if products %}
               <p class="d-block badge bg-transparent rounded-border text-off-white p-2">Total &nbsp;| &nbsp;{{ products|length }}&nbsp; | &nbsp;products</p>
               {% endif %}
               {% if current_categories %}
               {% for c in current_categories %}
               <p class="d-block nav-edge-glow rounded-border text-off-white text-center p-2">
               <span class="d-block">Current Category</span>
               <span class="d-block nav-edge-glow rounded-border p-2">{{ c.friendly_name }}</span>
               </p>
                {% endfor %}
                <p class="text-off-white small mt-0 mb-1">Products in category</p>
               <div class="d-flex flex-column">
               {% for p in products%}
                <span class="p-2 mt-2 badge text-off-white rounded-1 bg-transparent">{{ p.name }}</span>
                    <div class="row">
                    <div class="col-6">
                    <a class="category-badge text-decoration-none" 
                       href="{% url 'edit_product' p.id %}">
                       <span class="p-2 mt-2 badge w-100 text-off-white rounded-1">
                        <i class="fas fa-sort-up fa-sm pr-2"></i>Edit<i class="fas fa-sort-up fa-sm pl-2">
                       </i></span>
                    </a>
                    </div>
                    <div class="col-6">
                    <a class="remove-item category-badge"
                        href="{% url 'delete_product' p.id %}">
						<span class="p-2 mt-2 badge w-100 text-off-white rounded-1">  
						   <i class="fas fa-exclamation-triangle text-danger"></i> | Delete | <i class="fas fa-exclamation-triangle text-danger"></i>
						</span>
					</a>
                    </div>
                    </div>
                <hr class="my-0 mt-1 mb-1">
                {% endfor %}
                </div>
                {% endif %}
            </div>

         </div>
         {% endif %}
      </div>
   </div>
   <hr class="my-0 mt-1 mb-1">
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}