{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block page_header %}
<div class="header-container">
   <div class="row bg-transparent">
      <div class="col"></div>
   </div>
</div>
{% endblock %} 
{% block content %}
<div class="overlay"></div>
<div class="container">
   <div class="row">
      <div class="col">
         <hr />
         <h2 class="logo-font mb-4 text-off-white">Admin Product Hub</h2>
         <hr />
      </div>
   </div>
   <div class="row">
<!--Admin Hub-->
      <div class="col-12 col-lg-6 mb-5">
         <h5 class="text-off-white logo-font">Manage Products</h5>
         <div class="row">
            <div class="col-12 text-off-white">
               <p class="text-off-white small mt-0 mb-1">Options</p>
               <div id="accordion">
                  <div class="card nav-edge-glow mb-2">
                     <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                           <button class="btn btn-outline-black rounded-1 collapsed" 
                              data-toggle="collapse" 
                              data-target="#collapseOne" 
                              aria-expanded="true" 
                              aria-controls="collapseOne">
                           Add New
                           </button>
                        </h5>
                     </div>
<!--Add Product Form-->
                     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                           <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ form | crispy }}
                              <div class="text-right">
                                 <a class="btn btn-outline-black rounded-1" href="{% url 'products' %}">Cancel</a>
                                 <button class="btn btn-black rounded-1" type="submit">Add Product</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="card nav-edge-glow mb-2">
                     <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                           <button class="btn btn-outline-black rounded-1 collapsed" 
                              data-toggle="collapse" 
                              data-target="#collapseTwo" 
                              aria-expanded="false" 
                              aria-controls="collapseTwo">
                           Edit/Update
                           </button>
                        </h5>
                     </div>
                     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-off-white small mt-0 mb-1">Categories</p>
                                    {% for c in all_categories %}
                                        <a class="d-block category-badge text-decoration-none" 
                                        href="{% url 'products' %}?category={{ c.all_categories.name }}">
                                        <span class="p-2 mt-2 badge text-off-white rounded-1 bg-transparent">{{ c.friendly_name }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="col-5 d-flex flex-column">
                                    <p class="text-off-white small mt-0 mb-1">Products in Category</p>
                                    {% for p in products%}
                                        <div class="row">
                                            <div class="col-4">
                                            <span class="p-2 mt-2 badge text-off-white rounded-1 bg-transparent">{{ p.name }}</span>
                                            </div>
                                            <div class="col-2">
                                            <a class="d-block category-badge text-decoration-none" 
                                            href="{% url 'product_detail' p.id %}">
                                            <span class="p-2 mt-2 badge text-off-white rounded-1 bg-transparent">Edit</span>
                                            </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                           <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ form | crispy }}
                              <div class="text-right">
                                 <a class="btn btn-outline-black rounded-1" href="{% url 'products' %}">Cancel</a>
                                 <button class="btn btn-black rounded-1" type="submit">Update Product</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="card nav-edge-glow mb-2">
                     <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                           <button class="btn btn-outline-black rounded-1 collapsed" 
                              data-toggle="collapse" 
                              data-target="#collapseThree" 
                              aria-expanded="false" 
                              aria-controls="collapseThree">
                           Remove
                           </button>
                        </h5>
                     </div>
                     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           third
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<!--Admin Product / Category info-->
      <div class="col-12 col-lg-6 mb-5">
         <h5 class="text-off-white logo-font">Shopwide Summary</h5>
         <div class="row">
            <div class="col-12 col-lg-6">
               <p class="text-off-white small mt-0 mb-1">Products</p>
               {% if products %}
               <p class="d-block badge bg-transparent rounded-border text-off-white p-2">Total &nbsp;| &nbsp;{{ products|length }}&nbsp; | &nbsp;products</p>
               {% endif %}
               <p class="my-0 text-off-white">
                  <strong>{{ item.product.name }}</strong>
               </p>
               <p class="my-0 small text-off-white">
                  Size: {% if item.product.has.sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
               </p>
            </div>
            <div class="col-12 col-lg-6">
               <p class="text-off-white small mt-0 mb-1">Categories</p>
               {% if all_categories %}
               <p class="d-block badge bg-transparent rounded-border text-off-white p-2">
                  Total &nbsp;| &nbsp;{{ all_categories|length }}&nbsp; | &nbsp;categories
               </p>
               {% for c in all_categories %}
               <a class="d-block category-badge text-decoration-none" href="{% url 'products' %}?category={{ category.name }}">
               <span class="p-2 mt-2 badge text-off-white rounded-1 bg-transparent">{{ c.friendly_name }}</span>
               </a>
               {% endfor %}
               {% endif %}
            </div>
         </div>
      </div>
   </div>
   <hr class="my-0 mt-1 mb-1">
</div>
{% endblock %}